<section class="inner-bg income-bg">
    <div class="container">
        <div class="row m-hgt align-items-center justify-content-between">
            <div class="col-md-6 col-sm-6 col-12">
                <h3>Generate Income</h3>
            </div>
            <div class="col-md-6 col-sm-6 col-12">
                <ul>
                    <li><a [routerLink]="['/home']">Home </a></li>
                    <li><a>Generate Income</a></li>
                </ul>
            </div>
        </div>
    </div>
</section>
<section class="w-bg">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="terms-content">
                    <p>If you have a parking lot and are currently using no parking management solution or a metered solution, you might be losing money. Conventional parking management can be time consuming, especially with coins, and it can be costly if you have to pay for meters.</p>
                       <p><span class="f-itxt">Swift<span class="lg-clr">Park</span></span> lets you charge for parking while making it extremely quick, simple, and convenient for your customers to pay. They can pay online or on the phone 24/7. And, it's quick simple, and convenient for you to manage your lot and collect money. We'll send you a check every month with your earnings. Our service fee is likely to be lower than the time and money you're currently spending.
                       </p>
                        <div class="t-cnt">
                            <p class="p-txt"><span class="f-itxt">Swift<span class="lg-clr">Park</span></span> instant paperless parking. It's quick, it's simple, it's convenient.</p>
                            <a class="lrn-mre mrg-clr" [routerLink]="['/get-started']"><span></span>Get started for free</a>
                        </div>
                </div>
            </div>
        </div>
    </div>
</section>