<div class="card card-custom gutter-b">
    <div class="card-header">
        <div class="card-title row wth">
            <h3 class="card-label col-lg-4">Account Summary: </h3>
            <div class="form-group row col-lg-8" [formGroup]="searchGroup">
                <!-- <div class="col-lg-3">
                    <label class="col-lg-8 col-form-label" style="margin-left: 48px;"><b>Lot No:</b></label>
                    <div class="col-lg-10">
                        <select class="form-control" name="lot_no" formControlName="lot_no" style="margin-left: 48px;">
                            <option> Please Select</option>
                            <option *ngFor="let product of productsService.items$ | async; let i = index"
                                [value]="product.lot_no">{{product.lot_no }}</option>
                        </select>
                    </div>
                </div> -->

                <div class="form-group hidden">
                    <div class="input-group">
                        <input name="datepicker" class="form-control" ngbDatepicker #datepicker="ngbDatepicker"
                            (dateSelect)="onDateSelection($event)" formControlName="fromdate" [displayMonths]="1"
                            type="hidden" [startDate]="fromDate!">
                    </div>
                </div>

                <div class="col-lg-4" style="margin-right:40px">
                    <!-- <div class="col-lg-10"> -->
                    <div class="input-group input-group-solid ">
                        <label class="col-form-label" style="margin-left: -47px;"><b>From:</b></label>
                        <input #fromdate class="form-control" placeholder="dd/mm/yyyy" name="fromdate"
                            (dateSelect)="onDateSelection($event)" formControlName="fromdate"
                            [value]="formatter.format(fromDate)"
                            (input)="fromDate = validateInput(fromDate, fromdate.value)">
                        <div class="input-group-append">
                            <button class="btn  calendar" (click)="datepicker.toggle()" type="button"></button>
                        </div>
                    </div>
                    <!-- </div> -->
                </div>
                <div class="col-lg-4">
                    <!-- <div class="col-lg-10"> -->
                    <div class="input-group input-group-solid ">
                        <label class="col-form-label" style="margin-left: -26px;"><b>To:</b></label>
                        <input #todate class="form-control" placeholder="dd/mm/yyyy" name="todate" ngbDatepicker
                            #d="ngbDatepicker" formControlName="todate" (dateSelect)="onDateSelection($event)"
                            [value]="formatter.format(toDate)" (input)="toDate = validateInput(toDate, todate.value)">
                        <div class="input-group-append">
                            <button class="btn calendar" (click)="d.toggle()" type="button"></button>
                        </div>
                    </div>
                    <!-- </div> -->
                </div>
                <div class="col-lg-2" style="text-align: center;">
                    <button type="submit" class="btn btn-primary btn-elevate sho" (click)="save()">
                        Show
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="form form-label-right defaul">
        <div class="form-group row">
            <hr />
            <table class="lottable" id="lotTable" style="width: 100%;margin-left: 42px;">
            </table>
        </div>
    </div>
</div>