<section class="inner-bg p-bg">
    <div class="container">
        <div class="row m-hgt align-items-center justify-content-between">
            <div class="col-md-6 col-sm-6 col-12">
                <h3>Pay Lot</h3>
            </div>
            <div class="col-md-6 col-sm-6 col-12">
                <ul>
                    <li><a [routerLink]="['/home']">Home </a></li>
                    <li><a> Pay Lot </a></li>
                </ul>
            </div>
        </div>
    </div>
</section>

<section class="inner-whitebg p-bg">
    <div class="container">
        <div class="row">
            <div class="col">
                <p>Parking lot management can be a challenge: From managing who can park where, and for how long, to
                    installing meters and collecting coins, it's a lot of hassle. It doesn't matter if you manage a
                    hospital, retirement community, park, store, restaurant, or any other organization with a parking
                    lot, it can take your focus and attention away from other things… and sometimes it can be costlier
                    to manage than is worth the effort.</p>
                <p>Your best choice for all pay lot parking management is <span>Swift<span
                            class="lg-clr">Park</span></span> instant paperless parking. It's quick, it's simple, it's
                    convenient.</p>

                <p>Perfect for any location with parking management needs:</p>

                <ul class="lot-list row">
                    <li class="col-sm-3">Apartment Buildings</li>
                    <li class="col-sm-3">Beaches</li>
                    <li class="col-sm-3">Condominiums</li>
                    <li class="col-sm-3">Gated Communities</li>
                    <li class="col-sm-3">Hospitals and Medical Clinics</li>
                    <li class="col-sm-3">Hotels/Motels & Restaurants</li>
                    <li class="col-sm-3">Marinas</li>
                    <li class="col-sm-3">Non Profit Housing</li>
                    <li class="col-sm-3">Parks</li>
                    <li class="col-sm-3">Private Driveways</li>
                    <li class="col-sm-3">Special Events</li>
                    <li class="col-sm-3">Townhomes</li>
                    <li class="col-sm-3">Truck Parking</li>
                    <li class="col-sm-3">Universities / Colleges</li>

                </ul>

                <p>Guests park then pay online or over the phone 24/7 and enforcement is easy with real time,
                    downloadable reporting.</p>

            </div>
        </div>
    </div>
</section>

<section class="inner-greybg">
    <div class="container">
        <div class="row align-items-start mb-20">
            <div class="col-md-6 col-sm-6 col-12">
                <div class="ic-part">
                    <span><img src="../../../assets/image/ic1.png" /></span>
                    <h4>Earn Extra Income</h4>
                </div>
                <p>You receive most of the proceeds (less service fees) and you don't have to install expensive meters
                    or collect and roll coins. Just post a sign! It's free to join and you only pay for what you use.
                </p>
            </div>

            <div class="col-md-6 col-sm-6 col-12">
                <div class="ic-part">
                    <span><img src="../../../assets/image/ic2.png" /></span>
                    <h4>You Have Total Control</h4>
                </div>
                <p>You decide how long guests can park for, you can access parking logs, usage reports, and collections
                    all online, 24/7.</p>
            </div>

        </div>
        <div class="row align-items-start">
            <div class="col-md-12 col-sm-12 col-12">
                <div class="ic-part">
                    <span><img src="../../../assets/image/ic4.png" /></span>
                    <h4>Easy Enforcement</h4>
                </div>
                <p class="pad0">Our technology records all transactions and provides instant (live) updating. You or
                    your Parking Enforcement provider simply logs into the <span>Swift<span
                            class="lg-clr">Park</span></span> system with a secure ID to confirm which vehicles are
                    authorized. Unauthorized vehicles may be subjected to being ticketed and/or towed away.</p>
            </div>

        </div>
    </div>
</section>
<app-revenue-calculator></app-revenue-calculator>