<section class="inner-bg application-bg">
    <div class="container">
        <div class="row m-hgt align-items-center justify-content-between">
            <div class="col-md-6 col-sm-6 col-12">
                <h3>Get Started</h3>
            </div>
            <div class="col-md-6 col-sm-6 col-12">
                <ul>
                    <li><a [routerLink]="['/home']">Home </a></li>
                    <li><a>Get Started</a></li>
                </ul>
            </div>
        </div>
    </div>
</section>
<section class="w-bg pad-btm30">
    <div class="container">
        <h3 class="app-txt">Please fill out the form below</h3>

        <div class="frm-app">
            <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-12">
                        <div class="form-group">
                            <label>Client's Name</label>
                            <input type="text" formControlName="clientName" class="form-control"
                                [ngClass]="{ 'is-invalid': submitted && f.clientName.errors }" />

                        </div>
                    </div>

                    <div class="col-md-6 col-sm-6 col-12">
                        <div class="form-group">
                            <label>Company Name</label>
                            <input type="text" formControlName="companyName" class="form-control"
                                [ngClass]="{ 'is-invalid': submitted && f.companyName.errors }" />

                        </div>
                    </div>

                </div>

                <div class="row">
                    <div class="col-md-6 col-sm-6 col-12">
                        <div class="form-group">
                            <label>Address Line1</label>
                            <input type="text" formControlName="address1" class="form-control"
                                [ngClass]="{ 'is-invalid': submitted && f.address1.errors }" />

                        </div>
                    </div>

                    <div class="col-md-6 col-sm-6 col-12">
                        <div class="form-group">
                            <label>Address Line2</label>
                            <input type="text" formControlName="address2" class="form-control" />
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6 col-sm-6 col-12">
                        <div class="form-group">
                            <label>City</label>
                            <input type="text" formControlName="cityName" class="form-control"
                                [ngClass]="{ 'is-invalid': submitted && f.cityName.errors }" />

                        </div>
                    </div>

                    <div class="col-md-6 col-sm-6 col-12">
                        <div class="form-group">
                            <label>Province</label>
                            <select formControlName="province" class="form-control"
                                [ngClass]="{ 'is-invalid': submitted && f.province.errors }">
                                <option value="">Choose your Province</option>
                                <option *ngFor="let city of city" [ngValue]="city.abbreviation">{{city.name}}</option>
                            </select>

                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6 col-sm-6 col-12">
                        <div class="form-group">
                            <label>Postal Code</label>
                            <input type="text" formControlName="postCode" class="form-control"
                                [ngClass]="{ 'is-invalid': submitted && f.postCode.errors }" />
                            <div *ngIf="submitted && f.postCode.errors" class="invalid-feedback">
                                <div *ngIf="f.postCode.errors.pattern">
                                    Postal Code is not valid.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-12">
                        <div class="form-group">
                            <label>Time Zone</label>
                            <select formControlName="timeZone" class="form-control"
                                [ngClass]="{ 'is-invalid': submitted && f.timeZone.errors }">
                                <option value="">Choose your Time Zone</option>
                                <option *ngFor="let time of timeZoneList" [ngValue]="time">{{time}}</option>
                            </select>

                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6 col-sm-6 col-12">
                        <div class="form-group">
                            <label>Phone Number</label>
                            <input formControlName="phoneNumber" class="form-control"
                                [ngClass]="{ 'is-invalid': submitted && f.phoneNumber.errors }" />
                            <div *ngIf="submitted && f.phoneNumber.errors" class="invalid-feedback">
                                <div *ngIf="f.phoneNumber.errors.pattern">
                                    Phone Number is not valid.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-12">
                        <div class="form-group">
                            <label>Mobile Number</label>
                            <input type="text" formControlName="mobileNumber" class="form-control"
                                [ngClass]="{ 'is-invalid': submitted && f.mobileNumber.errors }" />
                            <div *ngIf="submitted && f.mobileNumber.errors" class="invalid-feedback">
                                <div *ngIf="f.mobileNumber.errors.pattern">
                                    Mobile Number is not valid.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-12">
                        <div class="form-group">
                            <label>Fax Number</label>
                            <input formControlName="faxNumber" class="form-control"
                                [ngClass]="{ 'is-invalid': submitted && f.faxNumber.errors }" />
                            <div *ngIf="submitted && f.faxNumber.errors" class="invalid-feedback">
                                <div *ngIf="f.faxNumber.errors.pattern">
                                    Fax Number is not valid.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-12">
                        <div class="form-group">
                            <label>Email Addresss</label>
                            <input type="text" formControlName="email" class="form-control"
                                [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                            <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                                <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
                            </div>
                        </div>
                    </div>
                </div>
                <button data-toggle="modal" class="btn btn-primary">Submit</button>
                <button id="openModalButton" [hidden]="true" data-toggle="modal" data-target="#exampleModal">Open
                    Modal</button>

            </form>
        </div>
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><img
                            src="../../../assets/image/close.png" class="img-fluid" />
                    </button>
                    <div class="modal-body">
                        <div class="thank-msg text-center">

                             <img *ngIf="!status"  src="../../../assets/image/pin-error.png" class="img-fluid" /> 
                            <img *ngIf="status" src="../../../assets/image/thnk-icon.png" class="img-fluid" />
                            <!-- <p class="mt20">{{message}}</p> -->
                            <h3 class="mt20">{{message}}</h3>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="ball-clip-rotate-multiple"
    [fullScreen]="true">
    <p style="color: white"> Submiting... </p>
</ngx-spinner>