<section class="white-bg">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-4 col-sm-4 col-6 text-center pad40">
                <a [routerLink]="['/residential-apt']" class="hme-grnbox">
                    <span><img src="../../../assets/image/hme1.png" class="img-fluid" /></span>
                    <h4>Residential APT & Condo</h4>
                </a>
            </div>
            <div class="col-md-4 col-sm-4 col-6 text-center pad40">
                <a [routerLink]="['/hotel-motel']" class="hme-grnbox">
                    <span><img src="../../../assets/image/hme2.png" class="img-fluid" /></span>
                    <h4>Hotel, Motel & Restaurant</h4>
                </a>
            </div>
            <div class="col-md-4 col-sm-4 col-6 text-center pad40">
                <a [routerLink]="['/college-university']" class="hme-grnbox">
                    <span><img src="../../../assets/image/hme3.png" class="img-fluid" /></span>
                    <h4>College & University</h4>
                </a>
            </div>
        </div>
        <div class="row align-items-center">
            <div class="col-md-4 col-sm-4 col-6 text-center pad40">
                <a [routerLink]="['/events-party']" class="hme-grnbox">
                    <span><img src="../../../assets/image/hme4.png" class="img-fluid" /></span>
                    <h4>Event & Party</h4>
                </a>
            </div>
            <div class="col-md-4 col-sm-4 col-6 text-center pad40">
                <a [routerLink]="['/pay-lot']" class="hme-grnbox">
                    <span><img src="../../../assets/image/hme5.png" class="img-fluid" /></span>
                    <h4>Pay Lot</h4>
                </a>
            </div>
            <div class="col-md-4 col-sm-4 col-6 text-center pad40">
                <a [routerLink]="['/truck']" class="hme-grnbox">
                    <span><img src="../../../assets/image/hme6.png" class="img-fluid" /></span>
                    <h4>Truck</h4>
                </a>
            </div>
        </div>
    </div>
</section>

<section class="grey-bg">
    <div class="container">
        <div class="row align-items-center">
            <div class="col pad40">
                <img src="../../../assets/image/hme-img1.png" alt="" class="img-fluid">
            </div>
            <div class="col text-center pad40">
                <h4 class="inner-txt">Learn More About <span>SwiftPark</span> Opportunities</h4>
                <a class="lrn-mre" [routerLink]="['/learn-more']"><span></span>Learn More</a>
            </div>
        </div>
    </div>
</section>

<section class="white-bg2">
    <div class="container">
        <div class="row align-items-center">
            <div class="col text-center pad40">
                <h4 class="inner-txt">Generate Income From Parking</h4>
                <a class="lrn-mre" [routerLink]="['/generate-income']"><span></span>Learn More</a>
            </div>
            <div class="col pad40">
                <img src="../../../assets/image/hme-img2.png" alt="" class="img-fluid">
            </div>
        </div>
    </div>
</section>