<div class="container-fluid welcome-bg">
    <div class="row h-662 align-items-center">
        <div class="col text-center align-self-center">
            <div class="welcome-left-content">
                <a href="https://www.nemesissecurity.com/"> <img src="../../assets/image/welcome-left-part.png"
                        class="img-fluid" /> </a>
                <div class="row">
                    <div class="col">
                        <ul class="lft-part">
                            <li><a><span></span>Parking Enforcement</a></li>
                            <li><a><span></span>Mobile Security Patrols</a></li>
                            <li> <a><span></span>Sign Supplies</a></li>
                        </ul>
                    </div>
                </div>
                <div class="row text-center">
                    <div class="col">
                        <ul class="wlcm-rgt">
                            <li class="ph-icon"><span></span><a>1-877-607-5233</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col text-center align-self-center">
            <div class="welcome-right-content">
                <img src="../../assets/image/logo.png" class="img-fluid" />
                <ul class="wlcm-rgt">
                    <li class="permit-icon"><span></span>Get a permit </li>
                    <li class="ph-icon"><span></span><a>1-877-943-8727</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 text-center">
            <h2>SELECT YOUR CHOICE</h2>
        </div>
    </div>
</div>