<section class="inner-bg cnt-bg">
    <div class="container">
        <div class="row m-hgt align-items-center justify-content-between">
            <div class="col-md-6 col-sm-6 col-12">
                <h3>Contact Us</h3>
            </div>
            <div class="col-md-6 col-sm-6 col-12">
                <ul>
                    <li><a [routerLink]="['/home']">Home </a></li>
                    <li><a> Contact Us </a></li>
                </ul>
            </div>
        </div>
    </div>
</section>
<section class="w-bg">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <ul class="cnt-part">
                    <li><span><span class="icon-cnt"></span>Our Location</span>PO Box 29, Ruthven, Ontario N0P-2G0
                        <address>
                            Branch Office<br>
                            1919 Lawrence Avenue East. Toronto,<br>
                            Ontario M1R2Y6
                        </address>
                    </li>
                    <li><span><span class="icon-cnt"></span>Email us to</span>
                        <a href="mailto:info@swift-park.com">info@swift-park.com</a>
                    </li>
                    <li><span><span class="icon-cnt"></span>Call us on</span>
                        <a href="tel:1-877-943-8727">1-877-943-8727</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-8 text-center">
                <div class="cr-part">
                    <p>Anyone can use <span style="font-style: italic; font-weight: 500;">Swift<span
                                class="lg-clr">Park</span></span>..... it’s quick, it’s simple, it’s convenient!</p>
                    <a class="lrn-mre2" [routerLink]="['/get-started']"><span></span>Get started for free</a>

                    <a class="lrn-mre2" [routerLink]="['/careers']"><span></span>Careers with SwiftPark</a>
                </div>
            </div>
        </div>
    </div>
</section>