<section class="inner-bg income-bg">
    <div class="container">
        <div class="row m-hgt align-items-center justify-content-between">
            <div class="col-md-6 col-sm-6 col-12">
                <h3>Learn More</h3>
            </div>
            <div class="col-md-6 col-sm-6 col-12">
                <ul>
                    <li><a [routerLink]="['/home']">Home </a></li>
                    <li><a>Learn More</a></li>
                </ul>
            </div>
        </div>
    </div>
</section>
<section class="w-bg">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="terms-content">
                    <h4>Here's how <span class="f-itxt" style="font-weight: 800;">Swift</span>Park works:</h4>
                    <p>You sign up for free (there are no up-front fees) and post a sign (which we provide). You'll be in business within 72 hours.</p>
                    <p>When someone wants to park on your lot, they simply call or visit our site and pay quickly and conveniently, 24/7. This solution is suitable for all types of parking: short-term parking, longterm parking, event and venue parking, and more.</p>
                    <p>All lot activity, parking payment collections, and usage reporting is available securely, online.</p>
                </div>
            </div>
        </div>

        <div class="row terms-content mar-top30">
            <div class="col-md-7 col-sm-7">
                <img src="../../../assets/image/learn-morebg.png" class="img-fluid" alt="" />
            </div>
            <div class="col-md-5 col-sm-5">
                <p>When your Parking Enforcement provider patrols your parking lot, they simply log into the SwiftPark system with a secure ID to confirm which vehicles are authorized. Unauthorized vehicles may be subjected to being ticketed and/or towed away.</p>
                <p>At the end of the month, we send you a check for the money earned that month.</p>
                <p class="p-txt"><span class="f-itxt">Swift<span class="lg-clr">Park</span></span> instant paperless parking. It's quick, it's simple, it's convenient.</p>
                 <a class="lrn-mre mrg-clr" [routerLink]="['/get-started']"><span></span>Get started for free</a>
            </div>
        </div>

    </div>
</section>
