<header class="nemesis-header">
    <div class="container-inner">
        <div class="row align-items-center">
            <div class="col-sm-4 text-center">
                <ul class="n-hd">
                    <li>Our toll-free number</li>
                    <li><a><span><img src="../../../assets/image/ph.png" /></span> 1-877-607-5233</a></li>
                </ul>
            </div>
            <div class="col-sm-4 text-center"><img src="../../../assets/image/nemesis-logo.png" class="img-fluid" /></div>
            <div class="col-sm-4 text-center">
                <ul class="n-hd">
                    <li>Our local Toronto number</li>
                    <li><a><span><img src="../../../assets/image/ph.png" /></span> 416-285-5233</a></li>
                </ul>
            </div>
        </div>
    </div>
</header>
<section class="clearfix nemesis-w-bg">
    <div class="container-inner">
        <div class="row">
            <div class="col">
                <ol class="breadcrumb brd-new">
                    <li class="breadcrumb-item"><a [routerLink]="['/home']"> Back to SwiftPark</a></li>
                </ol>
            </div>
        </div>
        <div class="row">
            <div class="col text-center">
                <h3 class="n-hd">Nemesis Security Services</h3>
                <h6>Welcome to Nemesis Security Services. (Ontario Canada)
                    <span>Established 1992</span>
                </h6>
            </div>
        </div>
        <div class="row  mn-tbtm30 align-items-center">
            <div class="col-md-6">
                <img src="../../../assets/image/nemesis1.png" class="img-fluid padrgtimg" />
            </div>
            <div class="col-md-6 lst-apra">
                <h5>Parking Enforcement</h5>
                <p>More than 30 years experience in the parking enforcement business!</p>

                <p>We are licenced and trained by various Municipalities within the GTA to conduct parking enforcement
                    on private property issuing Municipal Parking Tickets. </p>

                <p> In addition, we are fully insured, and all employees are covered by the workplace safety and
                    insurance board. </p>

                <p><span>If you are looking for Parking Enforcement or Parking Control solutions for your property or
                        business, we are here to help.</span> </p>

                <p>We also SUPPLY ONLY all types of parking and custom signs, MTO rated u-channel posts, bylaw numbers,
                    arrows and much more.</p>
                <div class="row">
                    <div class="col">
                        <ul class="n-hd n-ul">
                            <li><span><img src="../../../assets/image/ph2.png" /></span> Call us on</li>
                            <li><a> 416-285-5233 / 877-607-5233 </a></li>
                        </ul>
                    </div>

                    <div class="col">
                        <ul class="n-hd n-ul">
                            <li><span><img src="../../../assets/image/ml.png" /></span> Email us to</li>
                            <li><a> info@nemesissecurity.com </a></li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
<section class="clearfix nemesis-b-bg">
    <div class="container-inner">
        <div class="row  mn-tbtm30 align-items-center">

            <div class="col-md-6 padrgtimg">
                <h5>Mobile Security Patrol</h5>
                <p>More than 30 years experience in the mobile security business!</p>

                <p>We are licenced and insured. </p>

                <p>If you are looking for a Mobile Security Patrol service for your property or business, we are here to
                    help.</p>

                <div class="row">
                    <div class="col">
                        <ul class="n-hd n-ul">
                            <li><span><img src="../../../assets/image/ph2.png" /></span> Call us on</li>
                            <li><a> 416-285-5233 / 877-607-5233 </a></li>
                        </ul>
                    </div>

                    <div class="col">
                        <ul class="n-hd n-ul">
                            <li><span><img src="../../../assets/image/ml.png" /></span> Email us to</li>
                            <li><a> info@nemesissecurity.com </a></li>
                        </ul>
                    </div>
                </div>

            </div>

            <div class="col-md-6">
                <img src="../../../assets/image/nemesis2.png" class="img-fluid" />
            </div>
        </div>
    </div>
</section>
<section class="clearfix nemesis-w-bg pdbtm">
    <div class="container-outer">
        <div class="row  mn-tbtm30 align-items-center">
            <div class="col-md-6 padrgtimg">
                <img src="../../../assets/image/nemesis3.png" class="img-fluid" />
            </div>
            <div class="col-md-6">
                <h5>Parking Signs Supplies</h5>
                <p>More than 30 years experience in the parking enforcement business!</p>

                <p>Don't settle for a generic message. A <span>custom parking sign</span> is obeyed more often. Use your
                    business
                    name or add exact parking regulations. </p>

                <p>All signs include the appropriate City/Town by law number, arrows and comes with rounded corners on
                    .063 aluminium. </p>

                <p>We also carry custom signs, MTO rated u-channel posts with mounting hardware included.</p>

                <div class="row">
                    <div class="col">
                        <ul class="n-hd n-ul">
                            <li><span><img src="../../../assets/image/ph2.png" /></span> Call us on</li>
                            <li><a> 416-285-5233 / 877-607-5233 </a></li>
                        </ul>
                    </div>

                    <div class="col">
                        <ul class="n-hd n-ul">
                            <li><span><img src="../../../assets/image/ml.png" /></span> Email us to</li>
                            <li><a> info@nemesissecurity.com </a></li>
                        </ul>
                    </div>
                </div>

            </div>


        </div>
    </div>
</section>

<footer class="nemesis-footer">
    <div class="row align-items-center">
        <div class="col">
            <h4>Nemesis Security Services
                <span>Serving our clients since 1992</span>


            </h4>
        </div>
        <div class="col text-center"><img src="../../../assets/image/nemesis-logo.png" class="img-fluid f-n-logo" />
        </div>
        <div class="col text-right">
            <ul class="n-hd n-ul">
                <li><span><img src="../../../assets/image/ml.png" /></span> Contact us at:</li>
                <li><a> info@nemesissecurity.com </a></li>
            </ul>
        </div>
    </div>
</footer>