<section class="inner-bg pin-bg">
    <div class="container">
        <div class="row m-hgt align-items-center justify-content-between">
            <div class="col-md-6 col-sm-6 col-12">
                <h3>Get Started</h3>
            </div>
            <div class="col-md-6 col-sm-6 col-12">
                <ul>
                    <li><a [routerLink]="['/home']">Home </a></li>
                    <li><a>Get Started</a></li>
                </ul>
            </div>
        </div>
    </div>
</section>

<section class="inner-whitebg ctxt">
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <p> Anyone can use <span>Swift<span class="lg-clr">Park</span></span> it’s quick, it’s simple, it’s convenient!<br>
                    <span>Swift<span class="lg-clr">Park</span></span> Sign Options 
                  </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-4 text-center" *ngFor="let data of signData">
                <div class="br-bx-sign">
                    <img [src]='data.imgSrc' class="img-fluid"/>
                    <p><span>Swift<span class="lg-clr">Park</span></span> {{data.content}}</p>
                </div>
            </div>
        </div>
    </div>
</section>