<div class="container-fluid padtbtm07">
    <nav class="navfixed navbar navbar-default navbar-expand-lg navbar-dark">
        <div class="navbar-collapse ">
            <ul class="navbar-nav mr-auto d-flex justify-content-between footmenu-icon">
                <li class="nav-item"><a class="nav-link" [routerLink]="['/residential-apt']" routerLinkActive='active' >Residential Apt & Condo</a></li>
                <li class="nav-item"><a class="nav-link" [routerLink]="['/hotel-motel']" routerLinkActive='active'>Hotel, Motel & Restaurant</a></li>
                <li class="nav-item"><a class="nav-link" [routerLink]="['/college-university']" routerLinkActive='active'>College & University</a></li>
                <li class="nav-item"><a class="nav-link" [routerLink]="['/events-party']" routerLinkActive='active'>Event & Party</a> </li>
                <li class="nav-item"><a class="nav-link" [routerLink]="['/truck']" routerLinkActive='active'>Truck</a></li>
                <li class="nav-item"><a class="nav-link" >Nemesis</a></li>
                <li class="nav-item"><a class="nav-link" >File a Dispute</a> </li>
                <li class="nav-item"><a class="nav-link" [routerLink]="['/faq']" routerLinkActive='active'>FAQs</a></li>
                <li class="nav-item"><a class="nav-link" [routerLink]="['/contact-us']" routerLinkActive='active'>Contact Us</a></li>
            </ul>
        </div>
    </nav>
</div>
<footer class="footer-bg">
    <div class="container-fluid px-5">
        <div class="row align-items-center">
            <div class="col-md-4 text-left">
                <ul class="foot-menu">
                    <li><a [routerLink]="['/terms']" routerLinkActive='active'>Terms & Conditions</a></li>
                    <li><a [routerLink]="['/privacy-policy']" routerLinkActive='active'>Privacy Policy</a></li>
                </ul>
            </div>
            <div class="col-md-4 text-center" *ngIf="globalservice.visibleFootContent"><a [routerLink]="['/home']"><img src="../../assets/image/foot-logo.png" class="img-fluid" /></a></div>
            <div class="col-md-4 text-center" *ngIf="!globalservice.visibleFootContent"> <a class="foot-contact"><span></span>1-877-943-8727</a></div>
            <div class="col-md-4 text-right">
                <p>© 2021 SwiftPark. All Rights Reserved</p>
            </div>
        </div>
    </div>
</footer>

