<nav class="navbar header-part navbar-expand-md">
    <a class="navbar-brand" [routerLink]="['/home']"><img src="../../../assets/image/inner-logo.png"
            class="img-fluid" /></a>
    <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarCollapse"
        aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse" id="navbarCollapse">
        <ul class="navbar-nav align-items-center justify-content-between">
            <ng-container *ngFor="let data of headerList; let i = index">
                <li class=" nav-item">
                    <a style="cursor: pointer;" class="nav-link" (click)="navigate(data.page_slug);slug(data.page_slug)"
                        [class.active]="i == HighlightRow">{{data.page_title}}</a>
                </li>
            </ng-container>
            <li class="nav-item">
                <a class="foot-contact nav-link"><span></span>1-877-943-8727</a>
            </li>
        </ul>
    </div>
</nav>

<section class="inner-bg">
    <div class="container">
        <div class="row m-hgt align-items-center justify-content-between">
            <div class="col-md-6 col-sm-6 col-12">
                <h3>{{header}}</h3>
            </div>
            <div class="col-md-6 col-sm-6 col-12">
                <ul>
                    <li><a [routerLink]="['/home']">Home </a></li>
                    <li><a> {{header}} </a></li>
                </ul>
            </div>
        </div>
    </div>
</section>

<section class="inner-whitebg">
    <div class="container">
        <div class="row">
            <div class="col" [innerHtml]="content">

            </div>
        </div>
    </div>
</section>


<section class="inner-greybg">
    <div class="container">
        <div class="row align-items-start mb-20">
            <div *ngFor="let data of subData; let i = index" class="col-md-6 col-sm-6 col-12">
                <div class="ic-part">
                    <span><img [src]="data.image" /></span>
                    <h4>{{data.image_title}}</h4>
                </div>
                <p>{{data.image_description}}</p>
            </div>
        </div>
    </div>
</section>

<div class="container-fluid padtbtm07">
    <nav class="navfixed navbar navbar-default navbar-expand-lg navbar-dark">
        <div class="navbar-collapse ">
            <ul class="navbar-nav mr-auto d-flex justify-content-between footmenu-icon">
                <ng-container *ngFor="let data of footerList; let i = index">
                    <li class=" nav-item">
                        <a style="cursor: pointer;" class="nav-link"
                            (click)="navigate(data.page_slug);slug(data.page_slug)"
                            [class.active]="i == HighlightFooterRow">{{data.page_title}}</a>
                    </li>
                </ng-container>
                <li class="nav-item"><a class="nav-link" [routerLink]="['/file-a-dispute']"
                        routerLinkActive='active'>File a Dispute</a> </li>
                <li class="nav-item"><a class="nav-link" [routerLink]="['/faq']" routerLinkActive='active'>FAQs</a></li>
                <li class="nav-item"><a class="nav-link" [routerLink]="['/contact-us']"
                        routerLinkActive='active'>Contact Us</a></li>
            </ul>
        </div>
    </nav>
</div>
<footer class="footer-bg">
    <div class="container-fluid px-5">
        <div class="row align-items-center">
            <div class="col-md-4 text-left">
                <ul class="foot-menu">
                    <li><a [routerLink]="['/terms']" routerLinkActive='active'>Terms & Conditions</a></li>
                    <li><a [routerLink]="['/privacy-policy']" routerLinkActive='active'>Privacy Policy</a></li>
                </ul>
            </div>
            <div class="col-md-4 text-center" *ngIf="globalservice.visibleFootContent"><a [routerLink]="['/home']"><img
                        src="../../assets/image/foot-logo.png" class="img-fluid" /></a></div>
            <div class="col-md-4 text-center" *ngIf="!globalservice.visibleFootContent"> <a
                    class="foot-contact"><span></span>1-877-943-8727</a></div>
            <div class="col-md-4 text-right">
                <p>© {{year}} SwiftPark. All Rights Reserved</p>
            </div>
        </div>
    </div>
</footer>

<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="ball-clip-rotate-multiple"
    [fullScreen]="true">
    <p style="color: white"> Loading... </p>
</ngx-spinner>