<section class="inner-bg payment-bg">
    <div class="container">
        <div class="row m-hgt align-items-center justify-content-between">
            <div class="col-md-6 col-sm-6 col-12">
                <h3>Payment</h3>
            </div>
            <div class="col-md-6 col-sm-6 col-12">
                <ul>
                    <li><a [routerLink]="['/home']">Home </a></li>
                    <li><a>Payment</a></li>
                </ul>
            </div>
        </div>
    </div>
</section>
<section class="w-bg padtbtm">
    <div class="container">
        <div class="row justify-content-end">
            <div class="col-4">
                <h3 class="lt-txt">Lot No 10100 is at 123 SWIFTPARK AVENUE</h3>
            </div>
            <div class="col-4 text-right">
                <a class="g-btn"> View Transactions </a> <a class="g-btn"> Change Pin </a>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table table-custom">
                <thead>
                    <tr>
                        <th scope="col">Type</th>
                        <th scope="col">Amount ($)</th>
                        <th scope="col">Description</th>
                        <th scope="col">Select</th>
                        <th scope="col">Quantity</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of tableData; let i = index ">
                        <td>{{item.name}}</td>
                        <td>{{item.amt}}</td>
                        <td>{{item.description}}</td>
                        <td>
                            <input type="radio" id="test{{i}}" name="radio-group"
                                (change)="onCheckboxChange($event,item)">
                            <label for="test{{i}}"></label>
                        </td>
                        <td *ngIf="item.name !== '30 Days Pass'">

                            <div class="form-check-inline">
                                <span *ngIf="item.selected" class="minus" (click)="minus(item)"></span>
                                <span *ngIf="!item.selected" class="minus" style="cursor: default;"></span>
                            </div>
                            <div class="form-check-inline">
                                <input type="number" class="form-control2" min="0" max="10000000"
                                    [(ngModel)]="item.quantity" [disabled]="!item.selected"
                                    (ngModelChange)="amountCalculation(item)" (keydown)="handleKeydown($event)">
                            </div>
                            <div class=" form-check-inline">
                                <span *ngIf="item.selected" class="plus" (click)="plus(item)"></span>
                                <span *ngIf="!item.selected" class="plus" style="cursor: default;"></span>
                            </div>

                        </td>
                        <td *ngIf="item.name === '30 Days Pass'">
                        </td>
                    </tr>


                </tbody>
            </table>
        </div>

        <div class="payment-frm">
            <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-12">
                        <div class="form-group">
                            <label>Permit Expires</label>
                            <input *ngIf="totalAmount === 0" type="text" class="form-control" disabled>
                            <input *ngIf="totalAmount !== 0" [ngModel]="expiryDate | date:'medium':'GMT-5'"
                                (ngModelChange)="expiryDate=$event" name="expiryDate" type="text" class="form-control"
                                disabled>

                        </div>
                    </div>

                    <div class="col-md-6 col-sm-6 col-12">
                        <div class="form-group">
                            <label>Amount ($) - (CAD) </label>
                            <input [ngModel]="amount | currency" (ngModelChange)="amount=$event" name="amount"
                                type="text" class="form-control" disabled>
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-12">
                        <div class="form-group">
                            <label>Tax ($) - (CAD)</label>
                            <input [ngModel]="taxAmount | currency" (ngModelChange)="taxAmount=$event" name="taxAmount"
                                type="text" class="form-control" disabled>
                        </div>
                    </div>

                    <div class="col-md-6 col-sm-6 col-12">
                        <div class="form-group">
                            <label>Total ($) - (CAD)</label>
                            <input [ngModel]="totalAmount | currency" (ngModelChange)="totalAmount=$event"
                                name="totalAmount" type="text" class="form-control" disabled>
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-12">
                        <div class="form-group">
                            <label>Vehicle License</label>
                            <input class="form-control" type="text" name="license" [(ngModel)]="model.license"
                                #license="ngModel" [ngClass]="{ 'is-invalid': f.submitted && license.invalid }"
                                required />
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-12">
                        <div class="form-group">
                            <label>Payment Type</label>
                            <div class="row">
                                <div class="col">
                                    <input type="radio" id="p1" name="radio-group" name="cardSelect"
                                        (change)="onRadioChange(1)" checked>
                                    <label for="p1">Courtesy Card</label>
                                </div>
                                <div class="col">
                                    <input type="radio" id="p2" name="radio-group" name="cardSelect"
                                        (change)="onRadioChange(2)">
                                    <label for="p2">Credit Card</label>
                                </div>
                                <div class="col">
                                    <input type="radio" id="p3" name="radio-group" name="cardSelect"
                                        (change)="onRadioChange(3)">
                                    <label for="p3">Debit Card</label>
                                </div>
                            </div>
                            <br>
                            <br>
                            <div class="row">
                                <div class="col-md-6 col-sm-6 col-12">
                                    <div class="form-group">
                                        <label>SwiftPark Card Number</label>
                                        <input class="form-control" type="text" name="cardnumber"
                                            [(ngModel)]="model.courtesyCard" #courtesyCard="ngModel"
                                            [ngClass]="{ 'is-invalid': f.submitted && courtesyCard.invalid }"
                                            required />

                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-6 col-12">
                                    <div class="form-group">
                                        <label>PIN</label>
                                        <input class="form-control" type="text" name="pin" [(ngModel)]="model.pin"
                                            #pin="ngModel" [ngClass]="{ 'is-invalid': f.submitted && pin.invalid }"
                                            required />
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-6 col-12">
                                    <button [disabled]="totalAmount === 0" class="btn btn-primary">Submit</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>




<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <div class="modal-body">
                <h3 class="lt-txt text-left">Please fill the details below</h3>
                <div class="payment-frm">
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-12">
                            <div class="form-group">
                                <label>Credit Card Number</label>
                                <input type="text" class="form-control">
                            </div>
                        </div>
                    </div>
                    <button class="btn btn-primary">Submit</button>
                </div>
            </div>

        </div>
    </div>
</div>



<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="ball-clip-rotate-multiple"
    [fullScreen]="true">
    <p style="color: white"> Loading... </p>
</ngx-spinner>