<section class="inner-bg pin-bg">
    <div class="container">
        <div class="row m-hgt align-items-center justify-content-between">
            <div class="col-md-6 col-sm-6 col-12">
                <h3>Get Started</h3>
            </div>
            <div class="col-md-6 col-sm-6 col-12">
                <ul>
                    <li><a [routerLink]="['/home']">Home </a></li>
                    <li><a>Get Started</a></li>
                </ul>
            </div>
        </div>
    </div>
</section>

<section class="inner-whitebg ctxt">
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <p> Anyone can use <span>Swift<span class="lg-clr">Park</span></span> it’s quick, it’s simple, it’s convenient!<br>
                    <span>Swift<span class="lg-clr">Park</span></span> Card Options 
                  </p>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-4 col-sm-4 text-center">
                <div class="br-bx-sign">
                   <div class="bk-bg">
<img src="../../../assets/image/c-logo.png" class="img-fluid" />
<img src="../../../assets/image/car.png" class="img-fluid" />

<a class="ph">1-877-943-8727</a>
<a class="web">  www.swift-park.com</a>
                   </div>
                    <p><span>Swift<span class="lg-clr">Park</span></span> Courtesy Card</p>
                </div>
            </div>

            <div class="col-md-4 col-sm-4 text-center">
                <div class="br-bx-sign">
                   <div class="bk-bg  align-self-center">
<span>Coming Soon</span>


                </div>
                <p><span>Swift<span class="lg-clr">Park</span></span> Stored Value Card</p>
            </div>
            </div>

        </div>
    </div>
</section>