<section class="inner-bg t-bg">
    <div class="container">
        <div class="row m-hgt align-items-center justify-content-between">
            <div class="col-md-6 col-sm-6 col-12">
                <h3>Truck</h3>
            </div>
            <div class="col-md-6 col-sm-6 col-12">
                <ul>
                    <li><a [routerLink]="['/home']">Home </a></li>
                    <li><a> Truck </a></li>
                </ul>
            </div>
        </div>
    </div>
</section>

<section class="inner-whitebg p-bg">
    <div class="container">
        <div class="row">
            <div class="col">
                <p>Truckers need parking. If you have a large lot, why not have it earning money for you around the
                    clock?</p>

                <p> Your best choice for truck parking management is <span>Swift<span class="lg-clr">Park</span></span>
                    instant paperless parking. It's quick, it's simple, it's convenient.</p>

                <p> Simply post a <span>Swift<span class="lg-clr">Park</span></span> sign in your lot. Truckers pay
                    online or by phone 24/7 to receive their instant paperless permit.</p>


            </div>
        </div>
    </div>
</section>

<section class="inner-greybg">
    <div class="container">
        <div class="row align-items-start mb-20">
            <div class="col-md-6 col-sm-6 col-12">
                <div class="ic-part">
                    <span><img src="../../../assets/image/ic1.png" /></span>
                    <h4>Earn Extra Income</h4>
                </div>
                <p>You receive most of the proceeds (less service fees) and you don't have to install expensive meters
                    or collect and roll coins. Just post a sign! It's free to join and you only pay for what you use.
                </p>
            </div>

            <div class="col-md-6 col-sm-6 col-12">
                <div class="ic-part">
                    <span><img src="../../../assets/image/ic2.png" /></span>
                    <h4>You Have Total Control</h4>
                </div>
                <p>You decide how long guests can park for, you can access parking logs, usage reports, and collections
                    all online, 24/7.</p>
            </div>

        </div>
        <div class="row align-items-start">
            <div class="col-md-12 col-sm-12 col-12">
                <div class="ic-part">
                    <span><img src="../../../assets/image/ic4.png" /></span>
                    <h4>Easy Enforcement</h4>
                </div>
                <p class="pad0">Our technology records all transactions and provides instant (live) updating. You or
                    your Parking Enforcement provider simply logs into the <span>Swift<span
                            class="lg-clr">Park</span></span> system with a secure ID to confirm which vehicles are
                    authorized. Unauthorized vehicles may be subjected to being ticketed and/or towed away.</p>
            </div>

        </div>
    </div>
</section>
<app-revenue-calculator></app-revenue-calculator>