/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300&display=swap');

// Extra small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap
body {
  font-family: 'Poppins', sans-serif;
}

// Welcome Page
.welcomeleft-bg {
  background: url(assets/image/welcome-bg-left.png);
  min-height: 772px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top center;
}
.hme-grnbox:hover,
.hme-grnbox:focus {
  text-decoration: none;
}

.welcomeright-bg {
  background: url(assets/image/welcome-bg-right.png);
  min-height: 772px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top center;
}
.welcome-bg {
  background: url(assets/image/welcome-bg.png);
  min-height: 772px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
}
.navbar-nav,
.mr-auto {
  flex: 1;
  margin: auto !important;
  display: flex;
  justify-content: space-between;
}

.nav-link,
.nav-link:hover,
.nav-link:focus {
  color: #000000 !important;
  font-size: 16px;
  font-weight: 300;
  position: relative;
}

.nav-link:after {
  content: '';
  width: 14px;
  height: 2px;
  background-color: #dad8d8;
  right: -22px;
  position: absolute;
  display: block;
  bottom: 0;
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  /* left: 0; */
  top: 20px;
}
.navbar-nav li:last-child a.nav-link:after {
  display: none;
}
.padtbtm07 {
  padding-top: 7px;
  padding-bottom: 7px;
  background: #f6f6f5;
}

.footer-bg {
  background: #000000;
}
.footer-bg .row {
  min-height: 70px;
}
.foot-menu {
  margin: 0;
  padding: 0;
}
.foot-menu li {
  display: inline-block;
}
.footer-bg p {
  margin-bottom: 0;
  color: #c3c2c2;
  font-size: 16px;
  font-weight: 300;
  font-family: 'Poppins', sans-serif;
}
.foot-menu li a {
  color: #fff !important;
  font-size: 16px;
  font-weight: 300;
  font-family: 'Poppins', sans-serif;
  position: relative;
  padding-right: 40px;
}

.foot-menu li a:after {
  content: '';
  width: 12px;
  height: 2px;
  background-color: #7b7979;
  right: 14px;
  position: absolute;
  display: block;
  bottom: 10px;
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
}
.foot-menu li:last-child a:after {
  display: none;
}
.welcome-left-content {
  color: #fff;
  font-size: 18px;
  font-weight: 400;
}
ul.wlcm-rgt li {
  display: block;
  list-style: none;
  margin-top: 20px;
}
.welcome-left-content img {
  margin-bottom: 30px;
}
.h-662 {
  min-height: 652px;
}
ul.lft-part li {
  list-style: none;
  display: inline-block;
  margin: 0 10px;
}
ul.lft-part {
  margin: 0;
  padding: 0;
}
.welcome-bg h2 {
  font-size: 26px;
  color: #fff;
  font-weight: 400;
  letter-spacing: 16px;
  margin: 45px 0 0;
}
ul.wlcm-rgt {
  margin: 0;
  padding: 0;
  font-size: 18px;
  color: #fff;
  font-weight: 500;
  max-width: 190px;
  margin: 40px auto 0;
  text-align: left;
}
.ph-icon span {
  background: url(assets/image/sprite.png) no-repeat;
  display: inline-block;
  width: 41px;
  height: 38px;
  background-position: -220px 0px;
  vertical-align: middle;
}
.permit-icon span {
  background: url(assets/image/sprite.png) no-repeat;
  display: inline-block;
  width: 41px;
  height: 58px;
  background-position: -276px 0px;
  vertical-align: middle;
}
.lft-part a span {
  background: url(assets/image/sprite.png) no-repeat;
  display: inline-block;
  width: 41px;
  height: 32px;
}
.header-part a,
.header-part a:hover {
  font-size: 16px;
  color: #141414;
  font-weight: 400;
  white-space: nowrap;
}
.foot-contact,
.header-part .foot-contact {
  color: #5dab14;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
}
.foot-contact:hover,
.foot-contact:focus {
  text-decoration: none;
  color: #fff;
}
.navbar-brand {
  margin-right: 2rem;
  margin-left: 1rem;
}
.foot-contact span {
  background: url(assets/image/sprite.png) no-repeat;
  display: inline-block;
  width: 41px;
  height: 38px;
  background-position: -220px 0px;
  vertical-align: middle;
}

.white-bg {
  padding: 60px 0px;
}
.white-bg2 {
  padding: 40px 0px;
}
.hme-grnbox {
  // border: 5px solid transparent;
  // border-image: linear-gradient(to right, #50a226, #9dea73);
  // border-image-slice: 1;
  // padding: 25px;
  min-height: 348px;
  background: linear-gradient(#fff, #fff) padding-box,
    /*this is your grey background*/ linear-gradient(#50a226, #9dea73) border-box;
  color: #313149;
  padding: 25px;
  border: 5px solid transparent;
  border-radius: 20px;
  display: block;
  width: 100%;
}
.hme-grnbox span img {
  display: block;
  margin: 0 auto;
}
.hme-grnbox span {
  display: block;
}
.hme-grnbox h4 {
  font-size: 28px;
  color: #51a327;
  font-weight: 600;
  margin: 30px 20px;
  line-height: 40px;
}
.pad40 {
  padding: 40px 40px;
}

.hme-grnbox span {
  display: block;
  margin-top: 35px;
}
.grey-bg {
  background: #f9f9f9;
  padding: 40px 0;
}
.inner-txt {
  font-size: 21px;
  font-weight: 400;
}
.inner-txt span {
  font-style: italic;
  font-weight: 500;
}
.lrn-mre {
  color: #50a226;
  display: inline-block;
  font-weight: 400;
  position: relative;
  margin: 10px 25px;
}

.lrn-mre:hover,
.lrn-mre:focus {
  text-decoration: none;
  color: #50a226;
}
.lrn-mre span {
  background: url(assets/image/list.png) no-repeat;
  display: inline-block;
  width: 10px;
  height: 8px;
  margin-right: 8px;
}
.lrn-mre::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 1px;
  background: #50a226;
  bottom: 0px;
  left: 0;
}
.inner-bg {
  background: url(assets/image/inner-bg.png) no-repeat;
  min-height: 100px;
  background-size: cover;
  background-position: center;
}
.inner-bg ul li {
  list-style: none;
  display: inline-block;
}
.inner-bg ul {
  margin: 0;
  padding: 0;
  text-align: right;
}
.inner-bg h3 {
  color: #fff;
  font-size: 30px;
  font-weight: 600;
  margin: 0;
}
.inner-bg ul li:last-child a {
  color: #fff;
}
.inner-bg ul li:last-child a::after {
  display: none;
}
.inner-bg ul li a {
  font-size: 16px;
  font-weight: 300;
  color: #000000;
}
.inner-bg ul li a::after {
  content: '/';
  display: inline-block;
  margin: 0 10px;
  color: #7bc634;
}
.m-hgt {
  min-height: 100px;
}

.inner-whitebg {
  padding: 70px 0;
}
.inner-greybg {
  padding: 70px 0;
  background: #f9f9f9;
}
.inner-whitebg p:last-child {
  margin: 0;
}
.inner-whitebg p {
  font-size: 18px;
  color: #000000;
  line-height: 36px;
  margin-bottom: 18px;
}
.inner-whitebg p span {
  font-style: italic;
}
.lg-clr {
  font-style: normal !important;
  color: #5cab15;
}

.inner-greybg p {
  font-size: 18px;
  color: #000000;
  line-height: 32px;
  margin-bottom: 18px;
  padding-right: 30px;
}
.inner-greybg p span {
  font-style: italic;
}
.inner-whitebg p.p-txt,
.terms-content p.p-txt {
  font-size: 20px;
}
.ic-part span img {
  padding: 0;
  margin: 0;
  border: 2px solid #5caa13;
  border-radius: 15px;
}
.t-cnt {
  margin-top: 50px;
}
.mrg-clr {
  margin: 0;
  font-size: 18px;
}
.ic-part span {
  width: 70px;
  height: 70px;
  // border: 2px solid #5caa13;
  // border-radius: 15px;
  display: table-cell;
  vertical-align: bottom;
  padding-right: 20px;
}
.ic-part h4 {
  font-size: 24px;
  color: #5caa13;
  font-weight: 500;
  display: table-cell;
  vertical-align: bottom;
  margin: 0;
}
.ic-part {
  margin-bottom: 10px;
}

.inner-whitebg .lrn-mre {
  font-size: 18px;
}
.mb-20 {
  margin-bottom: 15px;
}
.header-part {
  min-height: 112px;
}
.header-part a::after {
  display: none;
}
.header-part .foot-contact {
  font-size: 18px;
}
.header-part .foot-contact:hover,
.header-part .foot-contact:focus {
  color: #f6f6f6;
  font-size: 18px;
  font-weight: 500;
}
.header-part a.nav-link.active {
  color: #5caa13 !important;
  font-weight: 400;
}
.home-bannerbg {
  background: url(assets/image/home-banner.png) no-repeat;
  min-height: 500px;
}

.home-bannerbg a,
.home-bannerbg a:hover {
  color: #fff !important;
}
.ml-50 {
  margin-left: 10%;
}
.ban-hd {
  font-size: 24px;
  line-height: 50px;
  color: #fff;
  font-weight: 300;
}

.posabs,
.posabs:hover {
  position: absolute;
  right: 10px;
  bottom: -20px;
}
.home-pge-cnt {
  padding: 90px 0;
}
.frm-cntrl {
  width: 453px;
  height: 52px;
  border-radius: 25px;
  border: 0;
  padding: 20px 135px 20px 25px;
  font-size: 19px;
  font-weight: 300;
  outline: 10px solid rgba(255, 255, 255, 0.5);
  margin: 20px 0 0 0;
  position: relative;
}
a.go-btn:hover {
  text-decoration: none;
}
a.go-btn {
  background: green;
  background: linear-gradient(#50a226, #9dea73);
  font-size: 22px;
  font-weight: 500;
  padding: 14px;
  border-radius: 25px;
  position: absolute;
  right: 0;
  top: 20px;
  height: 52px;
  line-height: 24px;
  min-width: 112px;
}
.btn-div {
  position: relative;
  display: inline-block;
}
.welcome-right-content img {
  margin: 141px 0 0;
}
.lft-part li:nth-child(3) a span {
  background-position: -143px 0px;
}
.lft-part li:nth-child(2) a span {
  background-position: -69px 0px;
  width: 50px;
}
.pad0 {
  padding: 0 !important;
}
.lot-list li {
  list-style: none;
  background: url(assets/image/list.png) no-repeat;
  font-size: 17px;
  color: #000000;
  line-height: 36px;
  background-position: left center;
  padding-left: 18px;
}
ul.lot-list {
  margin: 0;
  padding: 0px 0 20px;
}

a.nav-link.active {
  color: #5cab15 !important;
}
.inner-bg.h-bg {
  background: url(assets/image/hotel-motel-bg.png) no-repeat;
}
.inner-bg.c-bg {
  background: url(assets/image/college-university-bg.png) no-repeat;
}
.inner-bg.e-bg {
  background: url(assets/image/events-bg.png) no-repeat;
}
.inner-bg.p-bg {
  background: url(assets/image/pay-bg.png) no-repeat;
}
.inner-bg.t-bg {
  background: url(assets/image/truck-bg.png) no-repeat;
}
.inner-bg.f-bg {
  background: url(assets/image/faq-bg.png) no-repeat;
}
.inner-bg.cnt-bg {
  background: url(assets/image/contactus-bg.png) no-repeat;
}
.inner-bg.terms-bg {
  background: url(assets/image/terms-bg.png) no-repeat;
}
.inner-bg.privacy-bg {
  background: url(assets/image/privacy-bg.png) no-repeat;
}
.inner-bg.income-bg {
  background: url(assets/image/income-bg.png) no-repeat;
}
.inner-bg.getstarted-bg {
  background: url(assets/image/getstarted-bg.png) no-repeat;
}
.inner-bg.application-bg {
  background: url(assets/image/application-bg.png) no-repeat;
}
.inner-bg.dispute-bg {
  background: url(assets/image/dispute-bg.png) no-repeat;
}
.inner-bg.payment-bg {
  background: url(assets/image/payment-bg.png) no-repeat;
}
.inner-bg.pin-bg {
  background: url(assets/image/pin-bg.png) no-repeat;
}
a.g-btn.bal-txt {
  border-radius: 14px;
  min-width: inherit;
  font-size: 15px;
  font-weight: 600;
  padding: 13px 15px;
}
a.g-btn.bal-txt:hover {
  text-decoration: none;
}
.mght {
  min-height: 450px;
}
h3.lt-txt {
  text-align: center;
  color: #5fa814;
  font-size: 16px;
  font-weight: 500;
  margin: 14px 0 14px;
}
a.g-btn {
  display: inline-block;
  color: #5ea915;
  border-radius: 6px;
  border: 2px solid #5ea915;
  padding: 8px 20px;
  margin-left: 10px;
}
.w-bg.pad-btm30 {
  padding-bottom: 35px;
}
.w-bg p.g-txt {
  font-size: 20px;
  line-height: 32px;
}
.w-bg {
  padding: 60px 0;
}
p.p-txt {
  font-size: 20px;
  line-height: 32px;
  margin-bottom: 10px !important;
}
.foot-menu li a.active {
  color: #5cab15 !important;
}
.foot-menu li a:hover {
  text-decoration: none;
}
.lrn-mre2 {
  color: #50a226;
  display: inline-block;
  font-weight: 400;
  position: relative;
  margin: 14px 10px;
  font-size: 20px;
  border: 2px solid #5caa13;
  padding: 18px 25px;
  border-radius: 16px;
  max-width: 306px;
  min-width: 306px;
  text-align: left;
}
.w-bg p {
  font-size: 18px;
  color: #000;
}
.cr-part {
  margin-top: 60px;
}
.lrn-mre2:hover,
.lrn-mre2:focus {
  color: #50a226;
  text-decoration: none;
}
.lrn-mre2 span {
  background: url(assets/image/arrow.png) no-repeat;
  display: inline-block;
  width: 18px;
  height: 14px;
  margin-right: 8px;
}
ul.cnt-part li span {
  display: block;
  color: #5fa814;
  font-weight: 500;
  margin-bottom: 2px;
}
ul.cnt-part li a {
  color: #000000;
  font-size: 18px;
}
address {
  margin: 15px 0 0;
  line-height: 30px;
}
ul.cnt-part li:nth-child(2) span.icon-cnt {
  background-position: 0 -78px;
}
ul.cnt-part li:nth-child(3) span.icon-cnt {
  background-position: 0 -158px;
}
ul.cnt-part li {
  list-style: none;
  color: #000000;
  font-size: 18px;
  margin-bottom: 25px;
}
ul.cnt-part li span.icon-cnt {
  background: url(assets/image/icons-sprite.png);
  background-repeat: no-repeat;
  width: 20px;
  height: 28px;
  display: inline-block;
  vertical-align: top;
  margin-right: 10px;
}

ul.cnt-part {
  margin: 0;
  padding: 0;
}
.terms-content h3 {
  font-size: 18px;
  color: #5fa814;
  line-height: 30px;
  margin-bottom: 25px;
  font-weight: 600;
}
.terms-content p {
  color: #000000;
  line-height: 30px;
  margin-bottom: 22px;
}
.mar-top30 {
  margin-top: 40px;
  margin-bottom: 20px;
}
.terms-content h4 {
  font-size: 18px;
  color: #5fa814;
  line-height: 30px;
  font-weight: 600;
}
.f-itxt {
  font-style: italic;
  font-weight: 500;
}
h3.app-txt {
  font-size: 18px;
  color: #5fa814;
  font-weight: 500;
}
.frm-app label {
  font-size: 18px;
  color: #000000;
  font-weight: 400;
}
.form-control {
  height: 54px;
  border-radius: 0;
  border: 1px solid #c8caca;
  margin-bottom: 25px;
  font-weight: 300;
  color: rgba(0, 0, 0, 0.5);
  font-size: 18px;
}
select.form-control {
  background: url(assets/image/dropdown-arrw.png) no-repeat;
  -moz-appearance: none;
  appearance: none;
  background-position: 96%;
}
.frm-app {
  margin: 30px 0;
}
.btn-primary {
  font-size: 22px;
  color: #ffffff;
  font-weight: 500;
  text-transform: uppercase;
  padding: 8px 30px;
  border-radius: 25px;
  margin-top: 12px;
  background: #55a62b;
  background: -webkit-linear-gradient(to right, #55a62b 0%, #98e56d 100%);
  background: -moz-linear-gradient(to right, #55a62b 0%, #98e56d 100%);
  background: linear-gradient(to right, #55a62b 0%, #98e56d 100%);
  border: 0;
}

.table-responsive .table {
  border: 0;
  margin-top: 0px;
  margin-bottom: 0;
}
.table-custom thead th {
  border: 0;
  font-size: 14px;
  font-weight: 500;
  padding: 10px 30px;
}
.table-custom thead {
  background: #f0f1ee;
}
.table-custom td {
  padding: 10px 30px;
  font-size: 14px;
  font-weight: 400;
  vertical-align: middle;
  position: relative;
  line-height: 3;
}
.minus {
  background: url(assets/image/minus.png) no-repeat;
  width: 16px;
  height: 3px;
  cursor: pointer;
}
.plus {
  background: url(assets/image/plus.png) no-repeat;
  width: 16px;
  height: 16px;
  cursor: pointer;
}
.form-control2 {
  width: 53px;
  height: 36px;
  text-align: center;
  font-size: 14px;
  font-weight: 300;
}
.payment-frm .form-control {
  height: 47px;
  margin-bottom: 32px;
}
.form-control:disabled,
.form-control[readonly] {
  background-color: #f9f6f6;
  opacity: 1;
}
.payment-frm label {
  font-size: 14px;
}
.payment-frm {
  margin-top: 15px;
}

[type='radio']:checked,
[type='radio']:not(:checked) {
  position: relative;
  /* left: -9999px; */
  width: 21px;
  height: 21px;
  opacity: 0;
  z-index: 9999;
}
[type='radio']:checked + label,
[type='radio']:not(:checked) + label {
  position: absolute;
  padding-left: 28px;
  cursor: pointer;
  line-height: 20px;
  display: inline-block;
  color: #666;
  left: 0;
  top: 15px;
  left: 30px;
}
[type='radio']:checked + label:before,
[type='radio']:not(:checked) + label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 21px;
  height: 21px;
  border: 1px solid #000;
  border-radius: 100%;
  background: #fff;
}
[type='radio']:checked + label:after,
[type='radio']:not(:checked) + label:after {
  content: '';
  width: 11px;
  height: 11px;
  background: #5ca914;
  position: absolute;
  top: 5px;
  left: 5px;
  border-radius: 100%;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
[type='radio']:not(:checked) + label:after {
  opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0);
}
[type='radio']:checked + label:after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}
.form-group [type='radio']:checked + label,
.form-group [type='radio']:not(:checked) + label {
  left: 15px;
}
.modal-content {
  padding: 15px 15px 40px;
  border: 0;
  border-radius: 0;
}
.modal-dialog {
  // margin: 10.75rem auto !important;
}

button.close {
  position: absolute;
  right: 20px;
  opacity: 1;
  top: 25px;
  z-index: 999;
}
h3.lt-txt.mdl {
  margin: 0 0 40px;
  font-size: 18px;
}
.table-responsive {
  border: 1px solid #e9e9e8;
  margin: 15px 0 30px;
}
.thank-msg {
  padding: 50px 0 0px;
}
.thank-msg h3 {
  color: #5ca914;
  font-weight: 400;
  font-size: 22px;
  margin-top: 20px;
}
.thank-msg p {
  font-size: 14px;
  color: #000;
}

.frm-change label {
  font-size: 14px;
}
.frm-change .form-control {
  height: 46px;
  margin-bottom: 38px;
}

.frm-change {
  padding: 10px 160px 160px;
}
p.mt20 {
  margin-top: 30px;
  margin-bottom: 35px;
}
.br-bx-sign {
  border: 1px solid #ececec;
  border-radius: 10px;
  margin: 30px 0px 0;
  padding: 30px;
}
.br-bx-sign p {
  margin: 20px 0 0 !important;
  display: block;
}
.foot-menu li:last-child a {
  padding: 0;
}
.inner-whitebg.ctxt p {
  font-size: 20px;
}
.bk-bg a {
  color: #fff;
  display: block;
  font-size: 22px;
  white-space: nowrap;
  font-weight: 500;
}
.bk-bg {
  background: #000000;
  border-radius: 10px;
  padding: 20px;
  min-height: 360px;
}
a.ph {
  font-size: 26px;
}
.bk-bg span {
  color: #fff;
  font-style: italic;
  font-size: 18px;
  padding: 146px 0;
  display: block;
}
.bk-bg img:nth-child(2) {
  margin: 30px 0 10px;
}

.navbar-toggler-icon {
  background-image: url(assets/image/menu.svg);
}
.container-inner,
.container-outer {
  padding: 0 15px;
}
.nemesis-header {
  background: #000000;
  padding: 30px 0;
}
.nemesis-footer {
  background: #000000;
  padding: 12px 20px;
}
ul.n-hd li {
  font-size: 18px;
  color: #2b79f8;
  font-weight: 500;
  list-style: none;
  white-space: nowrap;
  line-height: 34px;
}
ul.n-hd {
  margin: 0;
  padding: 0;
}
ul.n-hd li a {
  color: #fff !important;
  font-weight: 400 !important;
}
ul.n-hd li a span {
  display: inline-block;
  margin-right: 5px;
}
ol.breadcrumb.brd-new li a {
  color: #50a226;
  font-size: 16px;
}
ol.breadcrumb.brd-new li a:before {
  content: url(assets/image/lft-arrow.png);
  padding: 0px 5px 0 0;
}
ol.breadcrumb.brd-new {
  background: transparent;
  padding: 0;
}
.nemesis-w-bg {
  padding: 30px 0;
}
h3.n-hd:after {
  width: 61px;
  height: 6px;
  background: #0463fe;
  content: '';
  position: absolute;
  border-radius: 25px;
  bottom: -15px;
  left: 50%;
  transform: translate(-50%);
}
h3.n-hd {
  font-size: 32px;
  color: #2a224d;
  font-weight: 600;
  margin-bottom: 50px;
  position: relative;
}
.nemesis-w-bg h6 {
  font-size: 18px;
  color: #000000;
}
.nemesis-w-bg h6 span {
  display: block;
  color: #b7b6b6;
  font-style: italic;
  margin-top: 12px;
}
.mn-tbtm30 {
  margin-top: 50px;
  margin-bottom: 30px;
}
.nemesis-w-bg p:nth-last-child(1) {
  margin-bottom: 0 !important;
}

.nemesis-w-bg p {
  font-size: 17px;
  line-height: 32px;
  margin-bottom: 20px;
}
.nemesis-w-bg p span {
  font-weight: 600;
}
.padrgtimg {
  padding-right: 40px;
}
.nemesis-w-bg h5,
.nemesis-b-bg h5 {
  font-size: 24px;
  color: #0463fe;
  margin-bottom: 22px;
  font-weight: 500;
}

.nemesis-w-bg ul.n-hd.n-ul li a {
  color: #000000 !important;
}
ul.n-hd.n-ul li span {
  display: inline-block;
  margin-right: 5px;
}
.nemesis-b-bg {
  background: #000000;
  padding: 40px 0;
}
.nemesis-b-bg p {
  color: #fff;
  font-size: 17px;
}
.pdbtm {
  padding: 40px 0 !important;
}
.f-n-logo {
  max-height: 84px;
}
.nemesis-footer h4 {
  font-size: 24px;
  font-weight: 500;
  color: #ffffff;
  line-height: 32px;
  margin: 0;
}
.nemesis-footer h4 span {
  display: block;
  font-size: 18px;
  color: #9f9e9e;
  font-weight: 400;
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
}
@media (min-width:1025px) {
  
ul.lft-part li {
  list-style: none;
  display: inline-block;
  margin: 0 10px;
  padding:10px;
}
ul.lft-part {
  font-size: 18px;
  color: #fff;
  font-weight: 500;
  max-width: 190px;
  margin: 40px auto 0;
  text-align: left;
}
}
@media (max-width: 767px) {
  
ul.lft-part li {
  list-style: none;
  display: inline-block;
  margin: 0 10px;
  padding:10px;
}
ul.lft-part {
  font-size: 9px;
  color: #fff;
  font-weight: 500;
  max-width: 190px;
  margin: 40px auto 0;
  text-align: left;
}
  .br-bx-sign p {
    font-size: 16px !important;
  }
  .nemesis-w-bg h5,
  .nemesis-b-bg h5 {
    font-size: 22px;
  }
  .padrgtimg {
    padding-right: 15px;
    margin-bottom: 30px;
  }
  h3.n-hd {
    font-size: 22px;
  }
  .nemesis-footer h4 span {
    display: block;
    font-size: 13px;
  }
  .nemesis-w-bg h6 {
    font-size: 14px;
  }
  .inner-whitebg p.p-txt,
  .terms-content p.p-txt {
    font-size: 18px;
  }
  .w-bg p,
  ul.cnt-part li,
  ul.cnt-part li a,
  .frm-app label,
  .form-control {
    font-size: 14px;
  }
  .nemesis-header .img-fluid {
    max-width: 100%;
    height: 120px;
    margin: 20px 0;
  }
  .nemesis-w-bg p,
  .nemesis-b-bg p {
    font-size: 15px;
    line-height: 32px;
  }
  ul.n-hd li {
    font-size: 16px;

    line-height: 28px;
  }
  .nemesis-footer h4 {
    font-size: 16px;
    line-height: 20px;
  }
  footer.footer-bg img {
    margin: 10px 0;
  }
  .welcome-left-content {
    font-size: 13px;
  }
  ul.lft-part li {
    list-style: none;
    display: block;
    margin: 4px 0px;
  }
  .welcome-right-content img {
    margin: 0px 0 0;
  }
  ul.wlcm-rgt li {
    margin: 0;
  }
  .welcome-left-content img {
    margin-bottom: 20px;
    height: 100px;
  }
  .welcome-bg {
    min-height: 402px;
  }
  .h-662 {
    min-height: 452px;
  }
  .welcome-bg h2 {
    font-size: 16px;
    color: #fff;
    font-weight: 400;
    letter-spacing: 8px;
    margin: 5px 0 6px;
  }
  ul.wlcm-rgt {
    margin: 20px auto 0;
    font-size: 14px;
  }
  .fixed-topxs {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
  }
  .home-pge-cnt {
    padding: 200px 0 80px;
  }
  .navbar-xs {
    background: #000;
    padding: 0px 20px 20px;
    margin-left: 0;
  }
  .home-bannerbg {
    background-size: cover;
    background-position: top center;
  }
  .posabs,
  .posabs:hover {
    position: relative;
    right: inherit;
    bottom: inherit;
    padding: 10px 0;
  }
  .hme-grnbox {
    min-height: 298px;
  }
  .ban-hd {
    font-size: 18px;
    line-height: 28px;
  }
  .pad40 {
    padding: 10px 10px;
  }
  .inner-txt {
    font-size: 15px;
  }
  a.lrn-mre {
    font-size: 13px;
  }
  .frm-cntrl {
    width: 100%;
  }

  .inner-bg h3 {
    text-align: center;
    font-size: 20px;
  }
  .minus,
  .plus {
    display: inline-block;
  }
  .modal-dialog {
    width: 95%;
  }
  .modal {
    padding: 0 !important;
  }
  .frm-change {
    padding: 10px 0px 40px;
  }

  h3.lt-txt {
    font-size: 15px;
  }
  a.g-btn {
    margin-bottom: 10px;
  }
  .form-check-inline {
    display: table-cell;
    padding: 0 4px;
  }

  .inner-bg ul {
    text-align: center;
  }
  .inner-bg ul li a {
    font-size: 14px;
  }
  a.navbar-brand {
    max-width: 194px;
  }
  .header-part {
    min-height: auto;
  }
  .header-part ul {
    align-items: initial !important;
  }
  .inner-whitebg p {
    font-size: 14px;

    line-height: 26px;
    margin-bottom: 18px;
  }
  .ic-part h4 {
    font-size: 18px;
  }
  .inner-greybg p {
    font-size: 14px;

    line-height: 24px;
    margin-bottom: 28px;
    padding-right: 0;
  }
  .container,
  .container-inner,
  .container-outer {
    padding: 0 25px;
    max-width: 100%;
  }
  .inner-greybg,
  .inner-whitebg {
    padding: 30px 0;
  }
  .inner-whitebg p.p-txt {
    font-size: 16px;
  }
  .inner-whitebg .lrn-mre {
    font-size: 14px;
    margin: 10px 10px;
  }
  .foot-menu {
    text-align: center;
  }
  .foot-contact,
  .header-part .foot-contact {
    color: #5dab14;
    font-size: 16px;
  }
  .footer-bg p,
  .foot-menu li a {
    font-size: 14px;
  }
  .footer-bg {
    padding: 10px 0;
  }
  .footer-bg .text-right {
    text-align: center !important;
  }
  .navbar-toggler {
    border: 1px solid #000 !important;
    background: #000 !important;
  }
  .header-part .navbar-nav {
    padding-top: 20px;
  }
  .nav-link:after {
    display: none;
  }
  .nav-link,
  .nav-link:hover,
  .nav-link:focus {
    font-size: 14px;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  // .modal-dialog {
  //   width: 606px;
  //   max-width: 606px;
  // }
  .nemesis-footer h4 {
    font-size: 16px;
  }
  .nemesis-footer h4 span {
    font-size: 14px;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .nemesis-footer h4 {
    font-size: 22px;
  }
  .nemesis-footer h4 span {
    font-size: 18px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .collapse:not(.show) {
    display: none !important;
  }
  .posabs,
  .posabs:hover {
    position: relative;
    right: inherit;
    bottom: inherit;
    padding: 10px 0;
  }
  footer.footer-bg img {
    margin: 10px 0;
  }
  .navbar-expand-md .navbar-toggler {
    display: block;
  }
  .navbar-collapse {
    flex-basis: 100%;
    flex-grow: 1;
    align-items: center;
  }
  .navbar-nav {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
  }
  .navbar-toggler {
    border: 1px solid #000 !important;
    background: #000 !important;
  }
  .navbar-expand-md .navbar-collapse {
    flex-basis: 100%;
  }
  .header-part ul {
    align-items: initial !important;
  }
  .header-part .navbar-nav {
    padding-top: 20px;
  }
  .navbar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem;
  }
  .navbar-toggler {
    padding: 0.25rem 0.75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    height: 40px;
  }
  .header-part {
    min-height: auto;
  }

  .navbar-expand-md .navbar-nav {
    flex-direction: column;
  }
  .br-bx-sign p {
    font-size: 16px !important;
    line-height: 26px !important;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .welcome-bg {
    min-height: 687px;
  }
  .container,
  .container-inner {
    width: 1160px;
    max-width: 1160px;
    margin: 0 auto;
  }
  .nemesis-footer h4 {
    font-size: 22px;
  }
  .container-outer {
    width: 1200px;
    max-width: 1200px;
    margin: 0 auto;
  }
  .header-part a,
  .header-part a:hover {
    font-size: 13px;
  }
  .header-part .foot-contact {
    font-size: 16px;
  }
}
@media (min-width: 1300px) {
  .header-part a,
  .header-part a:hover {
    font-size: 15px !important;
  }
  .container,
  .container-inner {
    width: 1200px;
    max-width: 1200px;
    margin: 0 auto;
  }
  .container-outer {
    width: 1250px;
    max-width: 1250px;
    margin: 0 auto;
  }
}
@media (min-width: 1400px) {
  .welcome-bg {
    min-height: 772px;
  }
  .nemesis-footer h4 {
    font-size: 24px;
  }
  .container {
    width: 1200px;
    max-width: 1200px;
    margin: 0 auto;
  }
  .container-inner {
    width: 1200px;
    max-width: 1200px;
    margin: 0 auto;
  }
  .container-outer {
    width: 1250px;
    max-width: 1250px;
    margin: 0 auto;
  }
  .header-part .foot-contact {
    font-size: 18px;
  }
}

@media (min-width: 1600px) {
  .welcome-bg {
    min-height: 772px;
  }
  .header-part a,
  .header-part a:hover {
    font-size: 16px;
  }
  .container {
    width: 1200px;
    max-width: 1200px;
    margin: 0 auto;
  }
  .container-inner {
    width: 1288px;
    max-width: 1288px;
    margin: 0 auto;
  }
  .container-outer {
    width: 1417px;
    max-width: 1417px;
    margin: 0 auto;
  }

  .header-part .foot-contact {
    font-size: 18px;
  }
}

.p-inputnumber-input {
  flex: 1 1 auto;
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}
