<section class="inner-bg getstarted-bg">
    <div class="container">
        <div class="row m-hgt align-items-center justify-content-between">
            <div class="col-md-6 col-sm-6 col-12">
                <h3>Get Started</h3>
            </div>
            <div class="col-md-6 col-sm-6 col-12">
                <ul>
                    <li><a [routerLink]="['/home']">Home </a></li>
                    <li><a>Get Started</a></li>
                </ul>
            </div>
        </div>
    </div>
</section>
<section class="w-bg pad-btm30">
    <div class="container">
        <div class="row align-items-center">
            <div class="col text-center">
                <p class="g-txt">Anyone can use <span class="f-itxt">Swift<span class="lg-clr">Park</span></span> it’s
                    quick, it’s simple, it’s convenient!<br>
                    It’s real easy to get started.</p>
            </div>
        </div>
        <div class="row align-items-center">
            <div class="col-md-4 col-sm-4 col-6 text-center pad40">
                <div class="hme-grnbox p-get">
                    <span><img src="../../../assets/image/g1.png" class="img-fluid" /></span>
                    <p>Just <a [routerLink]="['/contact']">click here</a> to fill<br>
                        out an application.</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-6 text-center pad40">
                <div class="hme-grnbox p-get">
                    <span><img src="../../../assets/image/g2.png" class="img-fluid" /></span>
                    <p><span class="f-itxt">Swift<span class="lg-clr">Park</span></span> Signs <a
                            [routerLink]="['/signs']">click here</a> to
                        see samples of signs</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-6 text-center pad40">
                <div class="hme-grnbox p-get">
                    <span><img src="../../../assets/image/g3.png" class="img-fluid" /></span>
                    <p><span class="f-itxt">Swift<span class="lg-clr">Park</span></span> Courtesy Cards
                        <a [routerLink]="['/courtesy-card']">click here</a> to see samples
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>