.btn.btn-primary-cancel {
    color: #000000;
    font-weight: bolder;
    background-color: #f7f7f7;
    border-color: #ded7d76e;
    margin-right: 19 px;
    width: 48%;
}
.wth {
    width: 47%;
}
// .login.login-1.login-content {
//     width: 700px !important;
//     max-width: 700px !important;
// }
